node_modules/

# dotenv environment variable files
.env
.env.*
!.env.example

# editors
.idea/

# logs
*.log

# TypeScript
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Allure
/allure-results/
/allure-report/
